- var cats = docs
html
	head
		title("Страница")
		meta(charset="utf-8")
		script(src="http://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous")
		script(src="./script/main.js" defer)
		link(rel="stylesheet" type="text/css" href="./css/style.css")
	body
		ul
		each cat in cats
			li
				| !{cat.name}, [!{cat.id}]
		span addCat
		form#add(action="/add")
			input(type="text", name="name")
			input(type="submit", value="OK")
		span removeCat
		form#remove(action="/delete")
			input(type="text", name="id")
			input(type="submit", value="OK")